[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
opencv-python = "*"
adafruit-motorhat = "*"
"jetson.gpio" = "==2.0.21"

[dev-packages]

[pipenv]
allow_prereleases = true
